@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-sans : "Nunito Sans", sans-serif;

  --color-white : #FFFFFF;
  --color-black: #000000;
  --color-grey-950 : #111517;
  --color-grey-400 : #808080;
  --color-grey-350 : #979797;
  --color-grey-300 : #B2B2B2;
  --color-grey-250 : #C4C4C4;
  --color-grey-50 : #FCFCFC;
  --color-blue-950 : #202C36 ;
  --color-blue-900 : #2B3844 ;

  --shadow-1: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
  --shadow-3: 0 0 7px 2px rgba(0, 0, 0, 0.10);
  --shadow-4: 0 0 4px 1px rgba(0, 0, 0, 0.10);
}

@custom-variant dark (&:where(.dark, .dark *));